<div class="flex flex-col items-center gap-4">
  <button
    class="w-20 h-10 flex items-center rounded-full p-1 cursor-pointer transition-colors"
    [class]="buttonBgClass()"
    (click)="toggle()"
  >
    <div
      #knob
      class="w-8 h-8 bg-white rounded-full shadow-md flex items-center justify-center"
    >
      @if (isOn()) {
        <lucide-icon [img]="MoonIcon" class="w-4 h-4 text-blue-500" />
      } @else {
        <lucide-icon [img]="SunIcon" class="w-4 h-4 text-yellow-500" />
      }
    </div>
  </button>

  <span class="text-gray-600">{{ labelText() }}</span>
</div>
